@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e327efa3e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index-style.css">
    <title>Genome Finder</title>
</head>
<body onload="pegarData()">
    <header>
        <div class="menu-content">
            <h1 class="title">Genome Finder</h1>
            <ul class="menu-itens">
                <li><a href="/Home/Login">Login</a></li>
                <li><a href="/Home/About">Sobre o comparador</a></li>
                <li><a href="/Home/Comunity">Comunidade</a></li>
                <li><a href="/Home/Compare">Comparador</a></li>
                <li><a href="https://www.ncbi.nlm.nih.gov/">NCBI</a></li>
                <li><a href="https://github.com/Guiermis"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/guilherme-oliveira-975767213/"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
    </header>
    <main>
        <div id="conteudo">
            <h1 id="intro">Bem Vindo!</h1>
            <p>Obrigado por escolher Genome Finder para auxiliar seus estudos.</p>
            <p>Vamos iniciar? :)</p>
            <p>Caso já tenha experiência, clique <a href="/public/compare.html">aqui.</a></p>
            <p>Caso contrário, verifique nossa página introdutória <a href="/public/about.html">aqui!</a></p>
        </div>
    </main>
    <script src="/js/index-script.js"></script>
</body>
</html>