@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e327efa3e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login-style.css">
    <title>Genome Finder</title>
</head>
<body>
    <header>
        <div class="menu-content">
            <h1 class="title">Genome Finder</h1>
            <ul class="menu-itens">
                <li><a href="/Home/Index">Inicio</a></li>
                <li><a href="./about.html">Sobre o comparador</a></li>
                <li><a href="./comunity.html">Comunidade</a></li>
                <li><a href="./compare.html">Comparador</a></li>
                <li><a href="https://www.ncbi.nlm.nih.gov/">NCBI</a></li>
                <li><a href="https://github.com/Guiermis"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/guilherme-oliveira-975767213/"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
    </header>
    <main>

            <form>
                        
                <div class="input-wrapper">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" required='required'>
                </div>
                
                <div class="input-wrapper">
                    <label for="senha">Senha</label>
                    <input type="password" name="password" required='required'>
                </div>
                <div id="button">
                    <a href="#" onclick= onOff()>Cadastrar</a>
                    <button id="send" value="submit" name="acao">Login</button>
                </div>
 
            </form>
        
          
    </main>
</body>
</html>